header .logo {
  background: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo h5 {
  color: #fff;
}

main {
  color: #fff;
  background: linear-gradient(90deg, rgb(51, 102, 153), rgb(153, 51, 102));
}
main #galeria .titulo-main h2 {
  text-decoration: underline overline;
}
main #galeria .noticias {
  width: 75%;
}
main #galeria .noticias .noticia {
  position: relative;
  display: inline-block;
  text-align: center;
}
main #galeria .noticias .noticia .texto-encima {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  font-weight: 100;
}
main #galeria .noticias .col-lg-6 {
  margin: 0 !important;
  padding: 15px;
}
main #galeria .noticias .col-lg-6 img {
  height: 350px;
}
main #album-dia {
  /* cambio de colores */
  -webkit-animation: random 15s infinite;
  animation: random 15s infinite;
  /* aqui termina */
}
@keyframes random {
  15% {
    background-color: #903495;
  }
  30% {
    background-color: #6f3460;
  }
  45% {
    background-color: #4a354f;
  }
  60% {
    background-color: #d20076;
  }
  75% {
    background-color: #ff0076;
  }
  15% {
    color: #fff;
  }
  30% {
    color: #fff;
  }
  45% {
    color: #fff;
  }
  60% {
    color: #fff;
  }
  75% {
    color: #212529;
  }
}
main #album-dia .contenedor-disco {
  width: 40%;
  margin: 0 auto;
}
main #album-dia .contenedor-disco .titulo-album h2 {
  text-decoration: underline overline;
}
main #album-dia .contenedor-disco .albumes .album {
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  text-align: center;
}
main #album-dia .contenedor-disco .albumes .album .texto-album {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  font-weight: 100;
}
main #album-dia .contenedor-disco .albumes .album img {
  height: 280px;
}

footer {
  background-color: #212529;
}

/* ******************* Media Queries *************************************/
/* No aplica */
/* No aplica */
@media (min-width: 1200px) and (max-width: 1399px) {
  main #album-dia .albumes .album img {
    width: 30%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  main #galeria .noticias .noticia img {
    height: 300px;
  }
  main #album-dia .albumes .album img {
    width: 30%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  main #galeria .noticias .noticia img {
    height: 370px;
  }
  main #album-dia .albumes .album img {
    width: 50%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  main #galeria .noticias .noticia img {
    height: 310px;
  }
  main #album-dia .albumes .album img {
    width: 60%;
  }
}
@media (max-width: 575px) {
  main #galeria .noticias {
    width: 100%;
  }
  main #galeria .noticias .noticia img {
    height: 310px;
  }
  main #album-dia .albumes .album img {
    width: 80%;
  }
}

/*# sourceMappingURL=index.css.map */
