//Variables globales
$blanco: #fff;
$dark: #212529;
$gris-1: #5e5e5e; 
$gris-2: #6f6f6f;
$gris-3: #828282;
$gris-4: #aaaaaa;

//***Header***
header{
    .logo{
        background: $dark;
        display:flex;
        align-items: center;
        justify-content: center;

        h5{
            color: $blanco;
        }
    }
}

//***Main***
main{
    color: $blanco;
    background: linear-gradient(90deg, rgb(20%, 40%, 60%), rgb(60%, 20%, 40%));

    

    #galeria{

        .titulo-main{
            h2{
                text-decoration: underline overline;
            }
        }

        .noticias{
            width: 75%;

            .noticia{
                position: relative;
                display: inline-block;
                text-align: center;

                .texto-encima{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $blanco;
                    background-color: rgba(0, 0, 0, 0.7);
                    font-size: 25px;
                    font-weight: 100;
                }
            }

            .col-lg-6{
                margin: 0 !important;
                padding: 15px;

                img{
                    height: 350px;
                    
                }
            }
        }
    }

    #album-dia{
        /* cambio de colores */
        -webkit-animation: random 15s infinite;
        animation: random 15s infinite;
        
        
        @keyframes random {
        15% { background-color: #903495; } 
        30% { background-color: #6f3460; } 
        45% { background-color: #4a354f; }
        60% { background-color: #d20076; } 
        75% { background-color: #ff0076; }
        
        15% { color: $blanco; } 
        30% { color: $blanco; } 
        45% { color: $blanco }
        60% { color: $blanco } 
        75% { color: $dark;} 
        }
        /* aqui termina */

        .contenedor-disco{
            width: 40%;
            margin: 0 auto;

            .titulo-album{
                h2{
                    text-decoration: underline overline;
                }
            }

            .albumes{
                .album{
                    width: 50%;
                    margin: 0 auto;
                    position: relative;
                    display: inline-block;
                    text-align: center;

                    .texto-album{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: $blanco;
                        background-color: rgba(0, 0, 0, 0.7);
                        font-size: 25px;
                        font-weight: 100;
                    }

                    img{
                        height: 280px;
                    }

                    
                }
            }
        }
    }
}

//***FOOTER***

footer{
    background-color: $dark;
}

/* ******************* Media Queries *************************************/

/* No aplica */
@media screen and (max-width: 1400px){
}

/* No aplica */
@media (min-width: 1200px) and (max-width: 1399px) {
    main{
        #album-dia{
            .albumes{
                .album{
                    img{
                        width: 30%;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    main{
        #galeria{
            .noticias{
                .noticia{
                    img{
                        height: 300px;
                    }
                }
            }
        }
        #album-dia{
            .albumes{
                .album{
                    img{
                        width: 30%;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px){
    main{
        #galeria{
            .noticias{
                .noticia{
                    img{
                        height: 370px;
                    }
                }
            }
        }
        #album-dia{
            .albumes{
                .album{
                    img{
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px){
    main{
        #galeria{
            .noticias{
                .noticia{
                    img{
                        height: 310px;
                    }
                }
            }
        }
        #album-dia{
            .albumes{
                .album{
                    img{
                        width: 60%;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px){

    main{
        #galeria{
            .noticias{
                width: 100%;
                .noticia{
                    img{
                        height: 310px;
                    }
                }
            }
        }
        #album-dia{
            .albumes{
                .album{
                    img{
                        width: 80%;
                    }
                }
            }
        }
    }
}